kubeconfig_path   = "../k8s/.kube/agyn-local-kubeconfig.yaml"
argocd_server_addr = "localhost:8080"
argocd_auth_token  = "REPLACE_WITH_ARGOCD_TOKEN"
argocd_insecure    = true

platform_namespace            = "platform"
platform_repo_url             = "https://github.com/agynio/platform.git"
platform_stack_repo_url       = "https://github.com/agynio/bootstrap_v2.git"
platform_stack_target_revision = "main"
platform_target_revision      = "v0.15.2"
platform_server_image_tag     = "0.15.2"
platform_server_replica_count = 2
docker_runner_image_tag       = "0.15.2"
docker_runner_replica_count   = 1

platform_db_password        = "agents"
platform_db_pvc_size        = "5Gi"
litellm_db_password         = "change-me"
litellm_db_pvc_size         = "5Gi"
litellm_master_key          = "sk-dev-master"
litellm_salt_key            = "sk-dev-salt"
docker_runner_shared_secret = "change-me"
vault_pvc_size              = "5Gi"
registry_mirror_pvc_size    = "5Gi"

argocd_automated_sync_enabled = true
argocd_prune_enabled          = true
argocd_self_heal_enabled      = true
